@import url('https://fonts.googleapis.com/css?family=Bellota|Montserrat&display=swap');

/*** BODY ***/
body {
    background-color: #dbe6f0;
}


/*** HEADER ***/
header {
    font-family: 'Bellota', cursive;
    color: #070d12;
    background-image: url("https://mtknight.github.io/assignments/SalmonRiver/images/headerbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.headertext {
    align-items: center;
    text-align: center;
}

.sitename {
    font-family: 'Bellota', cursive;
    font-size: 4rem;
    margin-top: .25rem;
    margin-bottom: .5rem;
}

.motto {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-top: .25rem;
    margin-bottom: 1rem;
}



/*** MENU ***/
nav {
    clear: left;
    background-color: #93b6d2;
    margin-top: -1rem;
}

nav button {
    margin-left: 50%;
    background-color: transparent;
    color: #ffffff;
	border:none;
    font-size: 1.6rem;
}

nav ul {
	list-style-type: none;
	padding:0;
    margin:0;
    overflow: hidden;
}

nav ul.hide {
    display: none;
}

nav li a {
	display: block;
	padding: .5rem;
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    background-color: #4b86b4;
	color:#ffffff;
}

.active {
    background-color: #4b86b4;
	color:#ffffff;
}


/*** MAIN ***/
main {
    max-width: 60rem;
    align-self: start;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: 'Bellota', cursive;
    color: #4b86b4;
}



h3 {
    font-family: 'Montserrat', sans-serif;
    color: #1e3548;
    text-align: left;
    margin-left: 100px;
}

main a:link {
    font-family: 'Montserrat', sans-serif;
    color:#B585F2;
    text-decoration: none;
}

main a:visited {
    font-family: 'Montserrat', sans-serif;
	color:#5a4279;
}

/*** FOOTER ***/
footer {
    padding: 20px;
    font-family: 'Bellota', cursive;
    font-size: 1.4rem;
    text-align: center;
    color: #c9dae8;
    background-color: #1e3548;
}

footer a:link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    color:#B585F2;
    text-decoration: none;
}

footer a:hover {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    color:#B585F2;
    background-color: #2d506c;
}

footer a:visited {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
	color:#5a4279;
}


/*** MEDIUM ***/
@media only screen and (min-width: 35rem) {
	.headings h1 {
		font-size: 2rem;
		margin-left: .3rem;
	}

    /*** MENU ***/
    nav button { 
        display: none; 
    }

    nav ul { 
        display: flex;	
    }

    nav ul.hide { 
        display: flex; 
    }

    nav ul li { 
        flex: 1 1 100%; 
    }

    nav ul li a {
        border: none;
        font-size: .8rem;
        text-align: center;
        white-space: nowrap;
    }   
}



/*** LARGE ***/
@media only screen and (min-width: 64rem) {
	nav ul li a {
		padding: .6rem 1rem;
	}

	h1 {
		font-size: 3em;
	}

	nav ul li a { 
        font-size: 1rem; 
    }

	nav button { 
        display: none; 
    }

	main {
		max-width: 60rem;
	}
}