@import url('https://fonts.googleapis.com/css?family=Bellota|Montserrat&display=swap');

/*** BODY ***/
body {
    background-color: #edf2f7;
    box-sizing: border-box;
}

main {
    padding-bottom: 100px;
}


/*** HEADER ***/
header {
    font-family: 'Bellota', cursive;
    color: #070d12;
    background-image: url("https://mtknight.github.io/assignments/SalmonRiver/images/headerbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.headertext {
    align-items: center;
    text-align: center;
}

.sitename {
    font-family: 'Bellota', cursive;
    text-shadow: 0 0 20px #ffffff;
    font-size: 4rem;
    margin-top: .25rem;
    margin-bottom: .5rem;
    animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes neonGlow {
    0% {
      text-shadow: 0 0 10px #ffffff,
                   0 0 20px #ffffff,
                   0 0 22px  #ffffff,
                   0 0 40px  #dbe6f0,
                   0 0 60px  #dbe6f0,
                   0 0 80px  #5d92bb,
                   0 0 100px #5d92bb,
                   0 0 140px #5d92bb,
                   0 0 200px #5d92bb;
    }
    100% {
      text-shadow: 0 0 2px #ffffff,
                   0 0 8px #ffffff,
                   0 0 10px #ffffff,
                   0 0 20px #5d92bb,
                   0 0 30px #5d92bb,
                   0 0 40px #5d92bb,
                   0 0 50px #5d92bb,
                   0 0 80px #5d92bb;
    }
}

.motto {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-top: .25rem;
    margin-bottom: 1rem;
    text-shadow: 0 0 60px  #dbe6f0;
}


/*** MENU ***/
nav {
    clear: left;
    background-color: #93b6d2;
    margin-top: -1rem;
    font-family: 'Montserrat', sans-serif;
}

nav button {
    margin-left: 50%;
    background-color: transparent;
    color: #ffffff;
	border:none;
    font-size: 1.6rem;
}

nav ul {
	list-style-type: none;
	padding:0;
    margin:0;
    overflow: hidden;
}

nav ul.hide {
    display: none;
}

nav li a {
	display: block;
	padding: .5rem;
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    background-color: #4b86b4;
    color:#5a4279;
    text-shadow:0 0 20px #dbe6f0;
}

.active {
    background-color: #4b86b4;
	color:#ffffff;
}


/*** MAIN ***/
main {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

h1 {
    font-family: 'Bellota', cursive;
    color: #4b86b4;
    text-align: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #1e3548;
    text-align: center;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #1e3548;
    text-align: left;
}

h4 {
    font-family: 'Bellota', cursive;
    font-size: 1.7rem;
    color: #0f1a24;
    text-align: center;
    padding-bottom: 0em;
    animation: littleGlow 2s ease-in-out infinite alternate;
}

    @keyframes littleGlow {
        0% {
            text-shadow:0 0 10px #eeeeee, 
                        0 0 20px #fcfc9e, 
                        0 0 30px #fcfc9e, 
                        0 0 40px #fcfc9e, 
                        0 0 50px #fcfc9e, 
                        0 0 60px transparent, 
                        0 0 70px transparent;
        }
        100% {
            text-shadow:0 0 20px #eeeeee, 
                        0 0 30px #6cdbfb, 
                        0 0 40px #6cdbfb, 
                        0 0 50px #6cdbfb, 
                        0 0 60px #6cdbfb, 
                        0 0 70px transparent, 
                        0 0 80px transparent;
        }
    }

h5 {
    font-family: 'Bellota', cursive;
    color: #0f1a24;
    font-size: 2rem;
    text-align: center;
    text-shadow: 0 0 30px #b7cee1;
    margin-top: 5px;
    margin-bottom: 5px;
}

h6 {
    font-family: 'Bellota', cursive;
    color: #0f1a24;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #070d12;
}



main a:link {
    font-family: 'Montserrat', sans-serif;
    color:#B585F2;
    text-decoration: none;
}

main a:visited {
    font-family: 'Montserrat', sans-serif;
	color:#5a4279;
}

.welcome {
    margin-bottom: -.8rem;
}

#landing {
    align-items: center;
    background-color: #dbe6f0;
    text-align: center;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#landing h1 {
    margin-left: 25px;
    margin-right: 25px;
}

#action {
    margin-bottom: 50px;
}

.slideshow {
    width: 30%;
    height: auto;
    border: 3px inset #5a4279;
}

.stardust {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin-bottom: 25px;
}

.primus {
    float: left;
    width: 30%;
    padding: 10px;
    background-color: #b7cee1;
  }

.secundus {
    float: left;
    width: 30%;
    padding: 10px;
    background-color: #c9dae8;
  }

.tertius {
    float: left;
    width: 30%;
    padding: 10px;
    background-color: #b7cee1;
  }

.stardust:after {
    content: "";
    display: table;
    clear: both;
  }


/*** FOOTER ***/
footer {
    padding: 20px;
    font-family: 'Bellota', cursive;
    font-size: 1.4rem;
    text-align: center;
    color: #c9dae8;
    background-color: #1e3548;
}

footer a:link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    color:#B585F2;
    text-decoration: none;
}

footer a:hover {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    color:#B585F2;
    text-shadow:0 0 20px #c9dae8;
}

footer a:visited {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
	color:#5a4279;
}

.footer-crown {
    display: block;
    width: 100%;
    height: 60px;
    z-index:5;
    left: 0px;
    position: absolute;
    margin-top: -58px;
  }


/*** FORECAST ***/
#fiveDay {
    padding-top: 1rem;
}

#fiveDay th{
    background-color: #a5c2d9;
    padding:2px;
    width:100px;
}

#fiveDay td{
    color:#4378a2;
    text-align: center;
    margin-bottom: 10px;
}

#fiveDay td img{
    width:80px;
    padding:3px;
}

#fiveDay td p{
    margin:0;
}

#fiveDay h4 {
    margin: 1rem;
}

.week {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    width: 80%;
}

.day {
    flex: 1 1 100%;
    font-size: .7rem;
    justify-content: center;
}

.label {
    color:  #edf2f7;
    background-color:#4378a2;
    display: block;
    font-family: 'Bellota', cursive;
    font-size: 1.7rem;
    text-align: center;
    padding: .5rem;
}

.temp {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: #0f1a24;
}

table {
    margin: auto;
    padding-bottom: 1rem;
}


/*** WAVE SVG***/
.editorial {
  display: block;
  width: 100%;
  height: 60px;
  z-index:5;
  bottom:0;
  left:0px;
}

.parallax1 > use {
  animation: move-forever1 10s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}

.parallax2 > use {
  animation: move-forever2 8s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}

.parallax3 > use {
  animation: move-forever3 6s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}

.parallax4 > use {
  animation: move-forever4 4s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

/*** RESOURCES PAGE ***/
#resources {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #1e3548;
    text-align: left;
    line-height: 1.7rem;
    margin-left: 15px;
    list-style: none;
}

@media only screen and (max-width: 41rem) {
    .logo {
        display: none;
    }
}

@media only screen and (max-width: 30rem) {
    header {
        background-image: none;
        background-color: #0f1a24;
    }

    .motto {
        color: #dbe6f0;
    }

    .slideshow {
        display: none;
    }

    #fiveDay { 
        display: none; 
        }
}


/*** MEDIUM ***/
@media only screen and (min-width: 41rem) {
    
    .headings h1 {
		font-size: 2rem;
		margin-left: .3rem;
    }

    /*** MENU ***/
    nav button { 
        display: none; 
    }

    nav ul { 
        display: flex;	
    }

    nav ul.hide { 
        display: flex; 
    }

    nav ul li { 
        flex: 1 1 100%; 
    }

    nav ul li a {
        border: none;
        font-size: .8rem;
        text-align: center;
        white-space: nowrap;
    }   

}



/*** LARGE ***/
@media only screen and (min-width: 64rem) {
	nav ul li a {
		padding: .6rem 1rem;
	}

	h1 {
		font-size: 3em;
	}

	nav ul li a { 
        font-size: 1rem; 
    }

	nav button { 
        display: none; 
    }

	main {
		max-width: 60rem;
	}
}