/* Mobile View*/
body {
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	font-weight: 100;
	background-color: #eeeeee;
}

h1 {
	font-family: 'Poiret One', cursive;
	font-size: 2rem;
	line-height: 45px;
	color: #cce0f2;
	background-color: #001823;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	text-align: center;
	text-decoration-color: #05345e;
	line-height: 30px;
	background-color: whitesmoke;
	border-bottom: 1px solid #bbb;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	margin: auto;
	grid-gap: 0.8em;
	padding: 0.8em;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	text-align: center;
	text-decoration-color: #05345e;
	line-height: 30px;
	background-color: whitesmoke;
	border-bottom: 1px solid #bbb;
}

section{
    background-color: whitesmoke;
    border: 1px solid;
    border-color: #05345e;
    border-radius: 10px;
}

section p {
    text-align: left;
    padding: 0 .5em 0 .5em;
}

section img{
    max-width: 95%;
    border: 1px solid;
    border-color: #b1b1b1;
}

header, main, footer {
	margin: 1.25rem auto;
	padding: .5rem;
	max-width: 900px;
}

header, footer, footer a {
	text-align: center;
	color: #0079b3;
}

header img {
	width: auto;
	height: auto;
	float: right;
}

footer {
	font-size: 0.7rem;
}

/* Desktop View */
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
		width: 60em;
	}
	header, footer{
		width: 60em;
	}
}

/* Tablet View*/
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
		width: 40em;
	}
	header, footer{
		width: 40em;
	}
}