@media only screen and (min-width: 60em) {
	footer {
		max-width: 50em;
	}
	
	header {
		max-width: 100%;
	}

	header img {
		float: left;
		max-width: 75px;
	}

	main {
		max-width: 50em;
	}

	nav ul { 
		display: flex; 
	}
	
	nav ul li { 
		flex: 1 1 100%; 
	}
}