@import url('https://fonts.googleapis.com/css?family=Bellota|Montserrat&display=swap');

/*** BODY ***/
body {
    background-color: #edf2f7;
    box-sizing: border-box;
}

main {
    padding-bottom: 100px;
}


/*** HEADER ***/
header {
    font-family: 'Bellota', cursive;
    color: #070d12;
    background-image: url("https://mtknight.github.io/360/images/hexagon-rainbow.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 20rem;
}

.headertext {
    align-items: center;
    text-align: center;
}

.sitename {
    font-family: 'Bellota', cursive;
    text-shadow: 0 0 20px #ffffff;
    font-size: 4rem;
    margin-top: .25rem;
    margin-bottom: .5rem;
    animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.sitename a {
  font-family: 'Bellota', cursive;
  text-shadow: 0 0 20px #ffffff;
  font-size: 4rem;
  margin-top: .25rem;
  margin-bottom: .5rem;
  animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes neonGlow {
    0% {
      text-shadow: 0 0 10px #ffffff,
                   0 0 20px #ffffff,
                   0 0 22px  #ffffff,
                   0 0 40px  #dbe6f0,
                   0 0 60px  #dbe6f0,
                   0 0 80px  #5d92bb,
                   0 0 100px #5d92bb,
                   0 0 140px #5d92bb,
                   0 0 200px #5d92bb;
    }
    100% {
      text-shadow: 0 0 2px #ffffff,
                   0 0 8px #ffffff,
                   0 0 10px #ffffff,
                   0 0 20px #5d92bb,
                   0 0 30px #5d92bb,
                   0 0 40px #5d92bb,
                   0 0 50px #5d92bb,
                   0 0 80px #5d92bb;
    }
}

.motto {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin-top: .25rem;
    margin-bottom: .8rem;
    animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.crown {
    display: block;
    width: 100%;
    height: 60px;
    z-index:5;
    left: 0px;
    position: absolute;
    margin-top: -58px;
  }


#explanation {
    text-shadow: 0 0 20px #ffffff;
    animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    line-height: 3rem;
    border: double black;
    background: linear-gradient(45deg, #df64df, #fbcb35, #4bbb5d, #6bc8ee #6c44a1, #df64df);
    
}



.hexagon {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  height: 200px;
  width: 200px;      
}


/*** Hex Nav ***/
#hexGrid {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    font-family: sans-serif;
    list-style-type: none;
  }
  
  .hex {
    position: relative;
    visibility:hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
    transition: all 0.5s;
    backface-visibility: hidden;
    will-change: transform;
    transition: all 0.5s;
  }
  
  .hex::after{
    content:'';
    display:block;
    padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
  }
  .hexIn{
    position: absolute;
    width:96%;
    padding-bottom: 110.851%; /* =  width / sin(60) */
    margin: 2%;
    overflow: hidden;
    visibility: hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
    -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
        -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
            transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      transition: all 0.5s;
  }
  .hexIn * {
    position: absolute;
    visibility: visible;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  }
  .hexLink {
      display:block;
      width: 100%;
      height: 100%;
      text-align: center;
      color: #fff;
      overflow: hidden;
      -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
          -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
              transform: skewY(-30deg) rotate3d(0,0,1,60deg);
  }
  
  
  
  
  /*** HEX CONTENT **********************************************************************/
  .hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
  }
  
  .hex h1, .hex p {
    width: 100%;
    padding: 5%;
    box-sizing:border-box;
    font-weight: 300;
    opacity: 0;
  }
  
  #demo1 {
    color: #203c47;
    font-family: 'Bellota', cursive;
    font-size: 2.2rem;
    text-transform: capitalize;
      text-align: center;
    bottom: 40%;
    padding-top:40%;
    z-index: 1;
    animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .hex h1:before, .hex h1:after {
    display: inline-block;
    margin: 0 0.5em;
    width: 0.25em;
    height: 0.03em;
    background: #ffffff;
    content: '';
    vertical-align: middle;
    transition: all 0.3s;
    text-align:center;
  }
  
  #demo2 {
  top: 40%;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
      
  }
  
  .img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  
  .img:before, .img:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: 0;
    transition: opacity 0.5s;
  }
  .img:before {
    background: rgba(223,100,223, 0.5)
  }
  
  .img:after {
    background: linear-gradient(to top, transparent, rgba(223,100,223, 0.7), transparent);
  }
  
  /*** HOVER EFFECT  **********************************************************************/
  
  
  
  .hexLink:hover h1, .hexLink:focus h1,
  .hexLink:hover p, .hexLink:focus p{
  opacity:1;
  transition: 0.8s;
  }
  
  
  .hexIn:hover .img:before,
  .hexIn:hover .img:after,
  .hexIn:hover .hexLink {
    opacity: 1;
  }
  
  
  /*** HEXAGON SIZING AND EVEN ROW INDENTATION ***/
  @media (min-width:1201px) { /* <- 5-4  hexagons per row */
    #hexGrid{
      padding-bottom: 4.4%
    }
    .hex {
      width: 20%; /* = 100 / 5 */
    }
    .hex:nth-child(9n+6){ /* first hexagon of even rows */
      margin-left:10%;  /* = width of .hex / 2  to indent even rows */
    }
  }
  
  @media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
    #hexGrid{
      padding-bottom: 5.5%;
      font-size: 13px;
    }
    .hex {
      width: 25%; /* = 100 / 4 */
    }
    .hex:nth-child(7n+5){ /* first hexagon of even rows */
      margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
    }
  }
  
  @media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
    #hexGrid{
      padding-bottom: 7.4%;
      font-size: 14px;
    }
    .hex {
      width: 33.333%; /* = 100 / 3 */
    }
    .hex:nth-child(5n+4){ /* first hexagon of even rows */
      margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
    }
  }
  
  @media (max-width: 600px) { /* <- 2-1  hexagons per row */
    #hexGrid{
      padding-bottom: 11.2%;
      font-size: 12px;
    }
    .hex {
      width: 50%; /* = 100 / 3 */
    }
    .hex:nth-child(3n+3){ /* first hexagon of even rows */
      margin-left:25%;  /* = width of .hex / 2  to indent even rows */
    }
  }
  
  @media (max-width: 400px) {
      #hexGrid {
          font-size: 8px;
      }
    
  }


/*** MAIN ***/
main {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color: #54c0eb;
}

h1 {
    font-family: 'Bellota', cursive;
    color: #df64df;
    text-align: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #1e3548;
    text-align: center;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    color: #b585f2;
    text-align: center;
}

h4 {
    font-family: 'Bellota', cursive;
    font-size: 1.7rem;
    color: #0f1a24;
    text-align: center;
    padding-bottom: 0em;
    animation: littleGlow 2s ease-in-out infinite alternate;
}

    @keyframes littleGlow {
        0% {
            text-shadow:0 0 10px #eeeeee, 
                        0 0 20px #eeeeee, 
                        0 0 30px #eeeeee, 
                        0 0 40px transparent, 
                        0 0 50px transparent, 
                        0 0 60px transparent, 
                        0 0 70px transparent;
        }
        100% {
            text-shadow:0 0 20px #eeeeee, 
                        0 0 30px #eeeeee, 
                        0 0 40px #eeeeee, 
                        0 0 50px transparent, 
                        0 0 60px transparent, 
                        0 0 70px transparent, 
                        0 0 80px transparent;
        }
    }

h5 {
    font-family: 'Bellota', cursive;
    background: linear-gradient(to right, #df64df, #fffb00, #df64df, #6c44a1, #df64df, #fbcb35, #df64df, #6c44a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    text-shadow: 0 0 30px #b7cee1;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 2.5rem;
}

h6 {
    font-family: 'Bellota', cursive;
    color: #0f1a24;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
}


h7 {
    font-family: 'Bellota', cursive;
    font-size: 1.8rem;
    color: #3c6b90;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

h8 {
    font-family: 'Bellota', cursive;
    font-size: 1.2rem;
    color: #3c6b90;
    text-align: center;
    margin-top: -1rem;
}

h9 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #0a1417;
    text-transform: uppercase;
    animation: littleGlow 2s ease-in-out infinite alternate;
    font-weight: bolder;
    text-align: center;
    padding-top: 18px;
    margin-bottom: -11px;
    display: block;


}

h10 {
    background: linear-gradient(to right, #df64df, #fffb00, #df64df, #6c44a1, #df64df, #fbcb35, #df64df, #6c44a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Bellota', cursive;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    margin-left: 15rem;
    margin-right: auto;
}

h11 {
  background: linear-gradient(to right, #df64df, #fffb00, #df64df, #6c44a1, #df64df, #fbcb35, #df64df, #6c44a1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Bellota', cursive;
  font-weight: bolder;
  font-size: 1.5rem;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}


p {
    font-family: 'Montserrat', sans-serif;
    color: #0a0610;
}

p.topic {
    font-family: 'Montserrat', sans-serif;
    color: #0a0610;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    text-align: center;

}

p.calltoaction {
    font-family: 'Bellota', cursive;
    font-size: 1.1rem;
    color: #6c4f91;
}

.disclaimer {
    font-size: 1rem;
}

.spacer {
    border: transparent 5px;
}

.week {
  width: 80%;
  margin-left: 10%;
  margin-top: 0rem;
  margin-bottom: 5rem;
}

.week-alt {
  width: 80%;
  margin-left: 10%;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.banner {
    margin-bottom: 1rem;
}

.banner-img {
  max-width: 40%;
  height: auto;
  margin-left: 32.5%;
}

.topic-section {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: auto;
    text-align: center;
}





.welcome {
    margin-bottom: -.8rem;
    font-family: 'Bellota', cursive;
    font-size: 2rem;
}

#landing {
    align-items: center;
    background-color: #dbe6f0;
    text-align: center;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#landing h1 {
    margin-left: 25px;
    margin-right: 25px;
}

.wave {
    margin-top: -52px;
}

#action {
    margin: 50px;
}

.slideshow {
    width: 30%;
    height: auto;
    border: 3px inset #5a4279;
}

.stardust {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin-bottom: 25px;
}

.primus {
    float: left;
    width: 30%;
    padding: 10px;
    background-color: #b7cee1;
  }

.secundus {
    float: left;
    width: 30%;
    padding: 10px;
    background-color: #c9dae8;
  }

.tertius {
    float: left;
    width: 30%;
    padding: 10px;
    background-color: #b7cee1;
  }

.stardust:after {
    content: "";
    display: table;
    clear: both;
  }


/*** FOOTER ***/
footer {
    padding: 20px;
    font-family: 'Bellota', cursive;
    font-size: 1.4rem;
    text-align: center;
    color: #c9dae8;
    background-color: #4bbb5d;
}

footer a:link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    color:#b585f2;
    text-decoration: none;
}

footer a:hover {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    color:#b585f2;
    text-shadow:0 0 20px #c9dae8;
}

footer a:visited {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
	color:#5a4279;
}

.footer-crown {
    display: block;
    width: 100%;
    height: 60px;
    z-index:5;
    left: 0px;
    position: absolute;
    margin-top: -70px;
  }

.glow-on-hover#me {
    margin-top: 5rem;
    font-family: 'Bellota', cursive;
    font-size: 1.4rem;
    text-align: center;
    color: #c9dae8;
}



/*** WAVE SVG***/
.editorial {
  display: block;
  width: 100%;
  height: 60px;
  z-index:5;
  bottom:0;
  left:0px;
}

.parallax1 > use {
    animation: move-forever1 10s linear infinite;
    animation-delay: -2s;
}


.parallax2 > use {
    animation: move-forever2 8s linear infinite;
    animation-delay: -2s;
}

.parallax3 > use {
    animation: move-forever3 6s linear infinite;
    animation-delay: -2s;
}

.parallax4 > use {
    animation: move-forever4 4s linear infinite;
    animation-delay: -2s;
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}



/*** BUTTONS ***/
.glow-on-hover {
    width: 100px;
    height: 100px;
    border: none;
    outline: none;
    color: #fff;
    background: 	transparent;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100%);
    height: calc(100%);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: 	transparent;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.home img {
    justify-content: center;
    padding-right: 7px;
    margin-left: -8px;
    margin-bottom: -5px;
}

#glow {
    color: #0a0610;
}

